{% set posts = __SELF__.getRecentPosts() %}

<div class="rainlab-forum">

    <div class="forum-posts">
        {% for post in posts %}
            {% set topic = post.topic %}

            <div class="media forum-post">
                <div class="media-left">
                    <a class="avatar">
                        <img src="{{ post.member.user.avatarThumb(50) }}" alt="{{ post.member.username }}" />
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        Posted in <a href="{{ topic.url }}?page=last#post-{{ post.id }}">({{ topic.subject }})</a>
                        <div class="date pull-right">
                            <span>Posted {{ post.created_at.diffForHumans }}</span>
                        </div>
                    </div>

                    <div class="media-content">
                         <div class="text">
                            {{ html_limit(post.content_html,100)|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% if not posts|length %}
    <div class="jumbotron not-posts">
        <p>This member has not participated in the forum.</p>
    </div>
{% endif %}

</div>