<div class="rainlab-forum">

    {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endflash %}

    {% if topic %}
        <h2 class="topic-title">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            {{ topic.subject }}
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </h2>
    {% endif %}

    {% if topic %}

        <div class="row">
            <div class="col-md-3 col-md-push-9">

                <div id="topicControlPanel">
                    {% partial "@controlpanel" %}
                </div>

            </div>
            <div class="col-md-9 col-md-pull-3">

                {% partial "@posts" %}

                {% partial "@pagination" %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                
                <hr />

                <h4>Reply to this discussion</h4>

                {% if not topic.canPost %}
                    <div class="alert alert-info" role="alert">
                        <p>You cannot edit posts or make replies:</p>
                        <ul>
                            {% if member.is_banned %}<li>Your account is banned.</li>{% endif %}
                            {% if topic.is_locked %}<li>This topic is locked.</li>{% endif %}
                        </ul>
                    </div>
                {% else %}
                    {% if member %}
                        {% partial "@postform" %}
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <p>You should be logged in before you can post.</p>
                        </div>   
                    {% endif %}
                {% endif %}
            </div>
        </div>

    {% elseif channel %}

        <h4>Create a new discussion topic</h4>
        {% partial "@createform" %}

    {% else %}

        <p>Topic not found</p>

    {% endif %}
</div>