{% set paginationEnabled =  posts.currentPage > 1 or posts.lastPage > 1 or posts.lastPage > posts.currentPage %}

<div class="row forum-pagination {{ paginationEnabled ? "enabled" : "disabled" }}">
    <div class="col-md-3 col-md-offset-1 text-left posts-total-summary col-xs-push-8 col-md-push-0">
        <p>Displaying {{ posts.firstItem }}-{{ posts.lastItem }} of {{ posts.total }}</p>
    </div>
    <div class="col-md-8 text-right">
        {% partial __SELF__ ~ "::pagination-list" records=posts %}
    </div>
</div>
